<template name="reports">
	<div key="reports" class="reports-page ui-view main">
	  <div class="ng-scope"> 
	    <a href="/dashboard/overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a> 
	    <h2>Reports <small>Work with Chart.js and D3</small></h2> 

	    <i class="fa fa-dashboard bg-fade"></i>
	    <div class="jumbotron"> 
	      <h1>Add Charts here</h1> 
	      <p>You can use C3.js or Chart.js</p> 
	      <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p> 
	    </div> 
	  </div>
	</div>
</template>